.khoroo_logo{
    max-height:60px
}
.clr_white{
    color: white;
}
.pt-40{
    padding-top: 40px;
}
.small-button {
    font-weight: 300!important;
    padding: 8px 25px !important;
    background: #589BFF !important;
    color: #fff!important;
    font-size: 16px !important;
    width: 150px !important;
    border: 0px !important;
    margin-top: 35px;
    border-radius: 6px !important;
    font-family: 'Lato';
}
.small-button:hover {
    background-color: #3a78c9 !important;
}
.own-one-send{
    width: 560px;
}
.mt-30{
    margin-top: 30px;
}
.news-letter {
    position: relative;
}
.news-letter input {
    background: #333537;
    width: 80%;
    padding: 10px 13px 10px 13px;
    border: 0px;
    color: #fff;
    float: left;
    font-size: 14px;
    border-top-left-radius: 5px!important;
    border-bottom-left-radius: 5px!important;
}
.news-letter input.submit {
    background: #333537!important;
    width: 20%!important;
    padding: 10px 13px;
    border: 0px;
    text-align: center;
    float: left;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #333537!important;
    border-top-left-radius: 0px!important;
    border-bottom-left-radius: 0px!important;
}
.chnge_colr2{
    background-color: #f3f3f3;
    height: 500px;
}
.chnge_colr{
    background-color: #f3f3f3;
    height: 580px;
}
.prduct_clr:hover{
    color: #00AFEF !important;
}

.clr_white{
    color: white;
}
.own_btn .cd-read-more{
    padding: 7px 22px;
    color: #fff;
    border-radius: 3px;
    text-transform: uppercase;
    -webkit-transition: color .3s, background .3s;
    -moz-transition: color .3s, background .3s;
    transition: color .3s, background .3s;
    font-family: 'lato';
    font-size: 12px;
}
.parallax-about-me_mind{
    background: url(../images/brain.jpg) repeat fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
}

.parallax-about-me_heart{
    background: url(../images/heart.jpg) repeat fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;

}
.parallax-about-me_soul{
    background: url(../images/soul.jpg) repeat fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;

}
.parallax-about-me_inner{
    background: url(../images/max.jpg) repeat fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;

}
.parallax-about-me_attrbuites{
    background: url(../images/embrace2.jpg) repeat fixed;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;

}
.wru_page{
    color: white;
}
.lato_font{
    font-family: 'lato';
}
.co-funder{
    font-size: 12px !important;
    font-family: 'lato';
}
.clr_blck{
    color: black !important;
}
.white-section{
    background-color: white;
}
.own_two{
    width: 560px;
}
.footerforms {
    background: #fff;
    padding: 25px 25px 0px;
    width: 365px;
    float: right;
    border-radius: 10px;
}
.wpcf7-form-control-wrap {
    position: relative;
}
.footerforms input, .footerforms textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}
p {
    padding-bottom: 1em;
}
@media only screen and (min-device-width : 2561px) and (max-device-width : 3840px) {
    .fnt_incre{
        font-size: 130px;
    }
}


@media only screen and (min-device-width : 1921px) and (max-device-width : 2560px) {
    .fnt_incre{
        font-size: 90px;
    }
}

@media only screen and (min-device-width : 1701px) and (max-device-width : 1920px) {
    .fnt_incre{
        font-size: 70px;
    }

}